<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AddressMapper">
  <resultMap id="BaseResultMap" type="entity.Address">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="address_content" jdbcType="VARCHAR" property="addressContent" />
    <result column="from_name" jdbcType="VARCHAR" property="fromName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, address_content, from_name, gmt_create, gmt_update, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="entity.Address">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into address (address_content, from_name)
    values (#{addressContent,jdbcType=VARCHAR}, #{fromName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Address">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressContent != null">
        address_content,
      </if>
      <if test="fromName != null">
        from_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressContent != null">
        #{addressContent,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        #{fromName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Address">
    update address
    <set>
      <if test="addressContent != null">
        address_content = #{addressContent,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        from_name = #{fromName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Address">
    update address
    set address_content = #{addressContent,jdbcType=VARCHAR},
      from_name = #{fromName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, address_content, from_name, gmt_create, gmt_update, is_delete
    from address
  </select>
</mapper>